.html-css{
    /* margin-left: 50% ; */
    height: 8%;
    width: 8%;
   
}
.css-css{
    height: 5%;
    width: 5%;
    /* margin-left: 40% ; */
    
}
.js-css{
    height: 5%;
    width: 5%;
    /* margin-left: 30% ; */
    
   
}
.react-css{
    height: 6%;
    width: 6%;
    
}

.arduino-css{
    height: 7%;
    width: 7%;
}
.rpi-css{
    height: 15%;
    width: 15%;
}